<div class="container pt-5">
  <div class="row pt-5">
    <h2>いいねした投稿一覧</h2>
  </div>
  <div class="row m-2">
    <% @customer.favorites.each do |favorite| %>
    <div class="col-lg-3" >
      <p><%= link_to image_tag( favorite.post.get_image, size: "150x150" ), post_path(favorite.post.id) %></p>
      <p>
        <%= link_to favorite.post.customer.user_name, customer_path(favorite.post.customer.id), class:"link text-secondary" %>
        <i class="fa fa-heart unlike-btn"></i>
        <%= favorite.post.favorites.length %>
        <%= link_to favorite.post.title, post_path(favorite.post.id), class:"link text-secondary" %>
      </p>
    </div>
    <% end %>
  </div>
</div>
<%#= paginate @customer.favorites %>