<% post_item.comments.each do |comment| %>
  <span style="font-size:14px;">
    <%= link_to comment.customer.user_name, admin_customer_path(comment.customer), class: "link text-secondary" %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.content %>
  </span>
  <%= link_to "削除", admin_comment_path(comment.id, key: key), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-outline-danger", remote:true, data: {"turbolinks" => false} %><br>
<% end %>