<% if post.post_items.map{|item| item.comments.count}.sum > 0 %>
  <%# if post.comment.present? %>
  <tr>
    <!--<td><%#= image_tag post.image, size: "100x100" %>-->
    <td><%#= link_to customer.user_name, admin_customer_path(post.customer_id) %></td>
    <td><%= link_to post.customer.user_name, admin_customer_path(post.customer), class: "link text-secondary" %></td>
    <td><%= link_to post.title, admin_post_path(post), class: "link text-secondary" %></td>
  </tr>
  <% post.post_items.each do |post_item| %>
    <% if post_item.comments.count > 0 %>
    <tr id="post_item-id-<%=post_item.id%>">
      <%= render 'post_item', post_item: post_item %>
    </tr>
    <% end %>
  <% end %>
<% end %>
<!--  <%# else %>-->
<!--  コメントはありません。-->
<!--<%# end %>-->
