<div class="container pt-5">
  <h2>コメント一覧</h2>
    <% @posts.each do |post| %>
      <div class="table" id="post-id-<%=post.id%>">
        <%= render 'post', post: post, key: 'comments' %>
      </div>
    <% end %>
    <%= paginate @posts %>
</div>