<!--<%#= search_form_for @search do |f| %>-->
  <!--nameカラムに対して部分一致検索ができる-->
<!--  <%#= f.label :title_cont, "商品名を含む" %>-->
<!--  <%#= f.search_field :title_cont %>-->

  <!--# 検索ボタン-->
<!--  <div class="actions"><%#= f.submit "検索" %></div>-->
<!--<%# end %>-->

 <%= button_to "作成", {controller: 'posts', action: 'new'}, {method: :get} %>

 <div class='container pt-5'>
  <div class='row'>
    <div class='col-lg'>
<h1>投稿一覧(全<%= @posts.count %>件)</h1></br>
<div class "container " >
  <div class="row m-2">

    <% @posts.each do |post| %>
    <div class="col-lg-3" >
    <div class="">
     <div> <%= link_to image_tag(post.image, width: '150', height: '150'), post_path(post) %>  </div>
       <tr>
        　  <td><%= post.title %></td>
        　</tr>
        　<tr>
        <!--　  <%# @post_tags.each do |tag| %>-->
     　　 <!--<td> <i class="fa-sharp fa-solid fa-tag"></i>-->
        <!--<%#= link_to tag.name,search_tag_path(tag_id: tag.id) %></td>-->

         <!--<p><i class="fa-sharp fa-solid fa-tag"></i>-->
         <!--<%#= link_to post.tags.map(&:name).join(', '),search_tag_path(tag_id: tag.id) %></p>-->

        　</tr>
    </div>
    </div>
    <% end %>
  </div>
</div>
</div>
    </div>
    </div>
<%#= paginate @posts %>
