<!--<%#= search_form_for @search do |f| %>-->
  <!--nameカラムに対して部分一致検索ができる-->
<!--  <%#= f.label :title_cont, "商品名を含む" %>-->
<!--  <%#= f.search_field :title_cont %>-->

  <!--# 検索ボタン-->
<!--  <div class="actions"><%#= f.submit "検索" %></div>-->
<!--<%# end %>-->

 <%#= button_to "作成", {controller: 'posts', action: 'new'}, {method: :get} %>
<div class="container pt-5">
  <div class="pt-5">
    <%= flash[:success] %>
  </div>
  <div class="pt-5">
    <%= render "posts", post_count: @post_count, posts: @posts %>
  </div>
</div>
<%= paginate @posts %>
