<div class="container pt-5">
  <div class="pt-5">
    <%= flash[:success] %>
  </div>
  <div class="pt-5">
    <%= render "posts", post_count: @post_count, posts: @posts %>
  </div>
</div>
<%= paginate @posts %>
