<div class="text-center">
  <%= image_tag('23252008.jpg', size: '500x300') %>
<h5 class = "text-secondary">
  旅行に行く際プランに迷われた経験はありませんか？<br>
  ・どこに観光に行こうかな、<br>
  ・王道のモデルコースじゃないところも行ってみたいな、、<br>
  そんなあなたに、<br>
  複数のサイトを見る工数も時間も短縮できます！<br>
  「楽に！早く！」自分に合ったプランを見つけてくださいね！<br>
</h5>
<h1 class = "text-warning">
  <strong>BonVoyage！</strong>
</h1>
</div>