<div class='container pt-5'>
  <div class="text-center pt-5">
    <%= image_tag('40D49F7D-D011-4FDD-BCA3-CF9011501223_1_201_a.jpg', size: '450x250') %>
  </div>
  <p></p>
  <div class="text-center">
    <h5 class = "text-secondary">
      旅行に行く際プランに迷われた経験はありませんか？<br>
      ・どこに観光に行こうかな、、<br>
      ・王道のモデルコースじゃないところも行ってみたいな、、<br>
      そんなあなたに！<br>
      複数のサイトを見る工数も時間も短縮できます！<br>
      <strong>「楽に！早く！」</strong>自分に合ったプランを見つけてくださいね！<br>
    </h5>
    <h1 class = "text-warning">
      <strong>BonVoyage！</strong>
    </h1>
  </div>
</div>