<div class="container pt-5">
  <div class="row pt-5">
    <h2>コメントした投稿一覧</h2>
  </div>
  <div class="row m-2">
    <% if @customer.comments.empty? %>
      <div class="col-md-12 mr-5">
        <p>コメントした投稿はありません</p>
      </div>
    <% else %>
      <% @customer.comments.each do |comment| %>
        <div class="col-6 col-md-3">
          <p><%= link_to image_tag( comment.post_item.post.get_mini_image, class: "img-fluid" ), admin_post_path(comment.post_item.post.id) %></p>
          <p><%= link_to comment.post_item.post.customer.user_name, admin_customer_path(comment.post_item.post.customer.id), class:"link text-secondary" %>
             <%= link_to comment.post_item.post.title, admin_post_path(comment.post_item.post.id), class:"link text-secondary" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>