<div class="container pt-5">
  <div class="row pt-5">
    <h2>コメントした投稿一覧</h2>
  </div>
  <div class="row m-2">
    <% @customer.comments.each do |comment| %>
      <div class="col-lg-3">
        <p><%= link_to image_tag( comment.post_item.post.get_image, size: "150x150" ), admin_post_path(comment.post_item.post.id) %></p>
        <p><%= link_to comment.post_item.post.customer.user_name, admin_customer_path(comment.post_item.post.customer.id), class:"link text-secondary" %>
          <i class="fa fa-heart unlike-btn"></i>
          <%= comment.post_item.comments.length %>
          <%= link_to comment.post_item.post.title, admin_post_path(comment.post_item.post.id), class:"link text-secondary" %></p>
      </div>
    <% end %>
  </div>
</div>