<div class="container pt-5">
  <div class="row pt-5">
    <div class="col">
      <div style="width:200px;height:400px;background-color:#fff0f5;" class="rounded">
        <%= link_to admin_posts_path,class: 'nav-link text-secondary' do %>
          <i class=""></i><h3>投稿一覧</h3>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div style="width:200px;height:400px;background-color:#fff0f5;" class="rounded">
        <%=  link_to admin_customers_path,class: 'nav-link text-secondary' do %>
          <i class=""></i><h3>会員一覧</h3>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div style="width:200px;height:400px;background-color:#fff0f5;" class="rounded">
        <%=  link_to admin_comments_path ,class: 'nav-link text-secondary' do %>
          <i class=""></i><h3>コメント一覧</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>