<div class="container pt-5">
  <div class="pt-5">
    <div class="row  text-center pt-5">
      <div class="col-lg">
        <div style="background-color:#8fbc8f;" class="rounded">
          <%= link_to admin_posts_path,class: 'nav-link text-secondary' do %>
            <i class=""></i><h3>投稿一覧</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="row text-center pt-5">
      <div class="col-lg">
        <div style="background-color:#b0c4de;" class="rounded">
          <%=  link_to admin_customers_path,class: 'nav-link text-secondary' do %>
            <i class=""></i><h3>会員一覧</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="row text-center pt-5">
      <div class="col-lg">
        <div style="background-color:#bdb76b;" class="rounded">
          <%=  link_to admin_comments_path ,class: 'nav-link text-secondary' do %>
            <i class=""></i><h3>コメント一覧</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>