/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}

 .pagination {
  justify-content: center;
  border: none;
  color: #696969;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #f8d7da;
  color: #721c24;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0;
}

@media (max-width: 768px) {
  .image-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .image-container a {
    width: calc(50% - 10px); /* 2つの画像を横並びに */
    margin-right: 10px; /* 画像間のスペースを設定 */
    margin-bottom: 10px; /* 画像行間のスペースを設定 */
  }

  /* 画像コンテナ内の最後の要素にマージンを追加しない */
  .image-container a:nth-child(2n) {
    margin-right: 0;
  }
}

.post_image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  img { position:absolute;
  }
}

// バリデーションエラーで、「field_with_errors」によるレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}