/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}

 .pagination {
  justify-content: center;
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.main {
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 70px 0; /* 上下に70px、左右に0pxの内側余白 */
}

@media (max-width: 768px) {
  .image-container {
    flex-wrap: wrap; /* 画像を折り返す */
    justify-content: flex-start; /* 画像を左詰めに配置 */
  }

  .image-container a {
    width: calc(50% - 10px); /* 2つの画像を横並びに */
    margin-right: 10px; /* 画像間のスペースを設定 */
    margin-bottom: 10px; /* 画像行間のスペースを設定 */
  }

  /* 画像コンテナ内の最後の要素にマージンを追加しない */
  .image-container a:nth-child(2n) {
    margin-right: 0;
  }
}

.post_image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  img { position:absolute;
  }
}

// バリデーションエラーで、「field_with_errors」によるレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}